Timestamp	Which days of the week can you attend family group?	Which locations would you prefer?	Would you be willing to host family group at your residence?	If you are willing to host family group, where do you live?	First Name	Last Name	Email	Phone Number	Gender	Comments or Questions?	Would you be interested in joining an international Bible study?	Please check all that apply:	Year of birth	Would you be willing to help give rides to or from family group?
7/20/15 22:19	Tuesday, Wednesday, Thursday	University City, Center City, Chinatown, Art Museum, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5555	Female			Grad School	1993
7/25/15 13:09	Tuesday, Wednesday, Thursday	University City, Center City, Chinatown, Art Museum, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5556	Male		No	Working, Just Graduated Undergrad	1990
7/28/15 15:24	Tuesday, Wednesday	University City	No		John	Doe	someemail@example.com	555-555-5557	Male		Yes	Working	1986
7/28/15 21:37	Tuesday, Wednesday	Center City, Chinatown	No		John	Doe	someemail@example.com	555-555-5558	Female		Yes	Working, Grad School	1991
7/28/15 21:41	Tuesday, Wednesday, Thursday	Center City, Chinatown	No		John	Doe	someemail@example.com	555-555-5559	Female		No	Grad School	1989
7/28/15 21:42	Tuesday, Wednesday, Thursday	Center City, Chinatown	No		John	Doe	someemail@example.com	555-555-5560	Female		No	Grad School	1994
7/28/15 21:45	Tuesday, Wednesday	University City, Center City, Chinatown, Art Museum, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5561	Female		Yes	Working	1986
7/29/15 9:19	Tuesday, Wednesday	University City, Graduate Hospital	Yes		John	Doe	someemail@example.com	555-555-5562	Male		No	Working, Grad School	1991
7/29/15 9:30	Tuesday, Thursday	Center City, Art Museum, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5563	Male		No	Working	1989
7/29/15 11:38	Tuesday	University City	Yes		John	Doe	someemail@example.com	555-555-5564	Male		No	Working	1987
7/30/15 10:17	Tuesday	University City, Art Museum	No		John	Doe	someemail@example.com	555-555-5565	Female		No	Working, Grad School	1978
7/30/15 16:47	Wednesday	Center City	No		John	Doe	someemail@example.com	555-555-5566	Female		No	Working	1989
7/30/15 16:50	Thursday	University City	Yes		John	Doe	someemail@example.com	555-555-5567	Female		No	Grad School	1991
7/30/15 17:41	Tuesday, Wednesday, Thursday	University City	No		John	Doe	someemail@example.com	555-555-5568	Female		No	Grad School, Just Graduated Undergrad	1993
7/30/15 20:10	Tuesday, Wednesday, Thursday	University City	No		John	Doe	someemail@example.com	555-555-5569	Female		No	Grad School	1989
7/30/15 22:07	Wednesday	University City	No		John	Doe	someemail@example.com	555-555-5570	Female		Yes	Grad School	1991
7/30/15 22:11	Tuesday, Wednesday, Thursday	University City	No		John	Doe	someemail@example.com	555-555-5571	Female		No	Just Graduated Undergrad	1992
7/30/15 22:14	Tuesday, Wednesday, Thursday	University City, Center City, Graduate Hospital	Yes		John	Doe	someemail@example.com	555-555-5572	Female		No	Working	1991
7/30/15 22:16	Tuesday, Wednesday	University City	No		John	Doe	someemail@example.com	555-555-5573	Female		Yes	Grad School	1990
7/30/15 22:17	Tuesday, Wednesday, Thursday	University City	No		John	Doe	someemail@example.com	555-555-5574	Female		No	Working	1990
7/30/15 22:20	Thursday	University City, Center City, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5575	Female		No	Grad School	1990
7/30/15 22:21	Tuesday, Wednesday, Thursday	University City, Center City, Chinatown, Art Museum	No		John	Doe	someemail@example.com	555-555-5576	Male		No	Working	1992
7/30/15 22:37	Wednesday	University City, Art Museum	Yes		John	Doe	someemail@example.com	555-555-5577	Male		No	Working, Just Graduated Undergrad	1992
7/31/15 12:06	Wednesday	University City	No		John	Doe	someemail@example.com	555-555-5578	Male		No	Working	1989
7/31/15 12:35	Tuesday, Wednesday, Thursday	University City, Center City, Art Museum	Yes		John	Doe	someemail@example.com	555-555-5579	Female		No	Married, Grad School	1988
7/31/15 14:26	Tuesday, Wednesday	University City	No		John	Doe	someemail@example.com	555-555-5580	Female			Working	1988
7/31/15 14:42	Tuesday, Wednesday, Thursday	University City	No		John	Doe	someemail@example.com	555-555-5581	Female		No	Grad School	1991
7/31/15 15:02	Tuesday, Wednesday	University City	No		John	Doe	someemail@example.com	555-555-5582	Female		No	Working	1992
7/31/15 21:28	Tuesday, Wednesday, Thursday	University City	No		John	Doe	someemail@example.com	555-555-5583	Female		No	Working, Just Graduated Undergrad	1993
8/2/15 8:14	Wednesday, Thursday	University City, Center City	No		John	Doe	someemail@example.com	555-555-5584	Female		Yes	Working, Grad School	1990
8/2/15 13:54	Wednesday	University City, Center City	No		John	Doe	someemail@example.com	555-555-5585	Female		No	Grad School	1988
8/2/15 22:08	Thursday	University City, Chinatown, Art Museum	No		John	Doe	someemail@example.com	555-555-5586	Male		No	Grad School	1991	No
8/2/15 22:22	Tuesday, Wednesday	Art Museum, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5587	Female			Grad School	1987	No
8/3/15 12:09	Tuesday, Wednesday	University City	No		John	Doe	someemail@example.com	555-555-5588	Female			Working, Grad School	1991	No
8/3/15 14:46	Tuesday, Wednesday	University City, Center City	No		John	Doe	someemail@example.com	555-555-5589	Male		No	Grad School	1984	No
8/3/15 20:13	Tuesday, Wednesday	University City, Center City, Chinatown, Art Museum, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5590	Male		No	Working, Just Graduated Undergrad	1992	No
8/3/15 20:40	Tuesday, Wednesday	University City, Center City, Chinatown, Art Museum, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5591	Female		No	Working	1990	Yes
8/3/15 20:45	Tuesday, Wednesday	University City, Center City, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5592	Female		Yes	Grad School	1992	No
8/3/15 21:06	Tuesday, Wednesday, Thursday	University City, Chinatown	No		John	Doe	someemail@example.com	555-555-5593	Male		No	Working	1991	No
8/3/15 21:26	Tuesday	University City	No		John	Doe	someemail@example.com	555-555-5594	Female		No	Married, Working	1990	No
8/3/15 21:36	Wednesday	University City	No		John	Doe	someemail@example.com	555-555-5595	Male		No	Grad School	1992	No
8/3/15 23:10	Thursday	University City	Yes		John	Doe	someemail@example.com	555-555-5596	Female		No	Working, Just Graduated Undergrad	1993	No
8/3/15 23:17	Tuesday, Wednesday	University City, Center City, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5597	Female		No	Grad School	1991	No
8/4/15 0:57	Tuesday, Thursday	University City, Center City, Chinatown, Art Museum, Graduate Hospital	Yes		John	Doe	someemail@example.com	555-555-5598	Male		Yes	Working, Grad School	1991	Yes
8/4/15 7:13	Tuesday	University City	No		John	Doe	someemail@example.com	555-555-5599	Male		No	Working	1990	No
8/4/15 9:15	Wednesday	Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5600	Male		No	Working	1991	No
8/4/15 20:23	Thursday	University City, Center City, Art Museum, Graduate Hospital	No		John	Doe	someemail@example.com	555-555-5601	Male		No	Working	1989	Yes
8/4/15 20:24	Thursday	Art Museum	Yes		John	Doe	someemail@example.com	555-555-5602	Male		No	Working	1989	No
8/4/15 20:28	Tuesday, Wednesday, Thursday	University City, Chinatown	No		John	Doe	someemail@example.com	555-555-5603	Male		Yes	Working	1985	No
8/5/15 14:27	Wednesday	University City	No		John	Doe	someemail@example.com	555-555-5604	Female		Yes	Grad School	1992	No
8/6/15 9:08	Wednesday	Art Museum	Yes		John	Doe	someemail@example.com	555-555-5605	Female			Working	1970	No
8/6/15 13:21	Tuesday, Wednesday, Thursday	Center City, Chinatown, Art Museum	Yes		John	Doe	someemail@example.com	555-555-5606	Male		No	Working	1981	No
8/6/15 17:24	Tuesday, Wednesday, Thursday	Center City, Chinatown, Art Museum	No		John	Doe	someemail@example.com	555-555-5607	Male			Working	1993	Yes
8/6/15 22:06	Wednesday	University City, Art Museum	No		John	Doe	someemail@example.com	555-555-5608	Female		No	Working	1989	Yes
8/7/15 13:35	Tuesday, Wednesday, Thursday	University City, Center City, Art Museum	No		John	Doe	someemail@example.com	555-555-5609	Female			Working	1977	No
8/7/15 21:15	Thursday	University City	No		John	Doe	someemail@example.com	555-555-5610	Female		Yes	Grad School	1987	No
