E ,0,4,2,
A ,1,,,
A A,1,,,
A A,1,2,4,
T A,1,3,,
O A,1,4,,
N A,0,,,
L A,1,3,4,
B A,0,3,2,
S A,1,3,4,
K A,1,,,
G A,1,4,,1
J B,1,4,2,1
J B,1,,,
S B,0,,,
T B,1,2,,
A B,1,,,
J B,1,3,4,
D B,0,,,
E B,1,,,
R B,0,,,
T B,1,,,
K B,1,1,2,
N B,1,4,,
w b,1,,,
P C,0,,,
A C,0,,,
D C,1,,,
A C,0,,,
C C,0,4,,
C C,1,4,2,
F C,1,3,2,
H c,0,,,
J C,0,2,3,
J C,0,,,
K C,1,2,3,
M C,1,4,,
M C,1,3,2,
S c,0,,,
V C,1,4,3,
V C,1,,,
C C,1,4,3,
F C,0,,,
F C,0,,,
M C,0,,,
B C,0,3,,
K c,0,,,
J C,1,2,3,
A C,0,,,
D C,0,,,
I C,0,,,
I C,0,,,
J C,0,3,4,
P C,0,3,2,
R C,1,,,
E C,1,2,3,
B C,0,2,3,
C C,0,4,,
S C,1,4,2,
A D,1,4,2,
J D,0,4,,
J D,0,4,,
K D,0,2,4,
V D,0,3,2,
A E,0,,,
J E,1,,,
I F,1,,,
R F,1,2,3,
M F,1,,,
M F,1,3,2,
C F,1,,,3
S G,1,4,2,
B G,0,3,2,
G G,1,,,
X G,1,,,
G G,1,3,4,
J H,1,,,
A H,0,,2,
R H,1,2,4,
S H,0,,,
M H,1,,,
S H,0,,,
J H,1,,,
D H,1,,,
E H,1,3,4,
D H,1,,,
K H,0,,,
L H,0,,,
T H,0,,,
C H,1,,,
E H,1,,,
M I,1,4,2,
J I,1,,,
E I,1,,,3
J J,0,4,3,
D J,1,,,
E J,1,4,,
I J,1,,,
L J,1,,,
D J,0,3,2,
P J,0,2,3,
E J,1,,,
S J,1,,,
S J,1,,,
L K,1,2,4,
T K,0,2,3,
D K,0,,,
D K,0,2,3,2
E K,1,4,,
G K,1,3,4,1
H K,1,,,
I K,1,,,
M K,1,,,
M K,1,,,
N K,1,3,,
S K,0,4,,
S K,1,4,,
S K,1,,,
S K,0,2,4,
S K,1,3,1,
V K,0,4,3,
H K,1,1,,
C K,0,,,
E K,1,,,
M K,1,4,,
R K,1,3,,
A L,1,3,4,
C L,0,,,
S L,0,,,
E L,1,4,3,
A L,1,,,
C L,1,,,
C L,1,,2,
E l,0,,,
E L,1,4,2,
G L,0,,,
H L,1,,,
J L,0,,,
J L,0,4,3,
J L,1,,,
L L,0,,,
M L,1,3,,
S L,1,4,2,
T L,1,,,
D L,0,,2,
C L,0,3,1,
J L,0,,,
R L,0,,,
Y L,1,,,
Y L,1,4,,
E L,0,,,
J L,1,,,
L L,1,4,,
Z L,0,4,3,
H L,1,3,4,
K L,1,2,2,
E L,1,,,
A L,1,4,,1
L L,1,,,
R L,1,4,,
M L,1,,,
J L,1,,,
Q L,0,,,
K L,0,3,4,
P L,1,,,
L L,1,,,
J M,0,,,
T M,1,,,
K M,1,3,2,
A M,1,3,4,
V M,1,4,,
C M,0,,,
A M,1,,,
R M,1,4,2,
J N,1,1,2,
S N,1,1,2,
J N,0,3,4,
S N,1,3,,
D N,0,,,
D N,0,,,
J N,0,,,
D N,1,3,4,
S N,1,3,4,
S O,1,4,,
D O,0,4,3,
A P,0,,,
A P,1,2,2,
C P,0,4,,
J P,0,2,4,
E P,1,4,3,
L P,1,3,,
C P,0,2,3,
B P,0,,,
C P,1,,,
E P,1,,,
N Q,1,,,
E Q,0,2,2,
R R,1,,3,
K R,1,2,4,
K R,1,2,4,
H R,1,4,2,
J R,1,4,3,
J R,1,3,4,
S R,1,2,4,
D R,1,3,4,
J R,0,,,2
A R,1,,,
N S,1,4,2,
J S,1,,,
S S,1,4,,
C S,1,,,
E S,1,3,4,
M S,0,,3,
B S,0,3,4,
E S,0,,,
E S,0,,,
Z S,1,,,
Z S,1,,,
M S,1,4,,
S S,1,,,
D S,0,4,3,
R S,0,4,3,
J S,1,,,
K S,0,4,3,
S S,0,2,4,
a s,0,3,,
E S,1,,,
S S,0,,,
R S,1,2,4,
S S,1,,,
D S,1,4,,
D S,0,1,3,
R S,1,,,
R S,1,,,
S S,1,3,2,
J S,1,2,4,
S S,0,2,4,
W S,0,2,2,
Y S,0,4,,
K S,1,1,,
A S,0,,,
S S,1,3,2,
S T,1,,,
X T,1,2,3,
M T,0,4,,
S T,1,,2,
S T,1,,,
C T,0,4,,
M T,0,,,
A T,0,,,
F U,1,2,,
A V,0,2,4,
K V,0,,,
A V,0,2,3,
S V,1,2,3,
Z W,1,2,4,
J W,1,,,
B W,0,3,,
D W,1,,,
M W,0,,2,
N W,0,2,4,
T W,0,4,3,
X W,1,,,
L W,1,1,2,
C W,1,,,
J W,0,,,
a W,1,3,,
J W,0,3,2,
N W,1,2,4,
J W,1,4,2,
K W,1,3,3,
W W,0,3,2,
C W,0,,,
J W,0,,,
k x,1,,,
T X,0,,,
E X,1,,,
Y X,1,2,2,
J X,1,,,
B Y,1,4,3,
D Y,1,,,
S Y,1,,,
C Y,0,,,
J Y,1,,,
A Y,1,4,,
Y Y,1,4,2,
C Y,0,4,,
I Y,1,4,2,
J Y,1,,,
Y Y,1,,,
L Y,1,,,
H Z,1,4,,
L Z,1,4,3,
A Z,0,,,
B Z,1,2,3,
D Z,1,,,
Y Z,1,3,,
S Z,1,,,
Y Z,1,,,
B Z,1,,,
A Z,0,2,4,
J Z,1,2,4,
S Z,1,,,
D Z,0,,,
M Z,0,,,
A ,1,4,,1
J ,1,,,
K ,1,,,
T ,0,,,
W ,0,,,
Y ,1,,,
Y ,1,,,
L S,1,,,
E S,0,,,
M Y,1,4,3,
L S,1,,,
B F,1,,4,
S A,1,3,4,
J R,1,2,3,
